root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{go,js,mjs,json,yaml,yml,md,ps1,xml,html,css}]
indent_style = space
indent_size = 2

[*.go]
indent_style = tab

[*.ps1]
indent_size = 4
