* text=auto eol=lf

*.go text
*.js text
*.mjs text
*.json text
*.yaml text
*.yml text
*.md text
*.ps1 text
*.xml text
*.html text
*.css text

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.exe binary
*.syso binary
